.task__item{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
}
.task__item-date{
    font-style: italic;
    font-size: 14px;
}
.task__btn_completed, .task__btn_delete,.task__btn_edit{
   
    position: absolute;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.task__btn_delete{
    background-color: #f7010198;
    top: 5px;
    right: 5px;
}
.task__btn_completed{
     background-color: #bbbbbbbe;
    top: 5px;
    right: 40px;
}
.task__btn_edit{
    top: 5px;
    right: 75px;
}